:root {
  --primary-text-color: #153461;
  --title-text-color: #163561;
  --accent-color: #99BAED;
  --accent-title-text-color: #FBB400;
  --primary-bg-color: #FFFFFF;
  --link-color: #A3C1EF;


}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;  
}

.link {
  text-decoration: none;
}
img {
  display: block;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Catamaran', sans-serif;
  font-size: 25px;
  line-height: 1.52;
  letter-spacing: 0.03em; 
}

.container {
  width: 1920px;
  margin: 0 auto;
  /* border: 1px solid; */
  /* outline: 2px solid tomato; */
}

/* .item-list {
  padding: 0;
  margin: 0;
  list-style: none;
} */


/*========== HEADER ==========*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 170px;
  padding-right: 213px;
}

.logo {
  /* display: flex; */
  margin-top: 59px;
  margin-right: 110px; 
  margin-left: 41px; /* ? */
  font-weight: 600;
  font-size: 40px;
  line-height: 1.336;
    
  color: var(--accent-color);
  position: relative;
}

.logo::before {
  position: absolute;
  content: '';
  width: 74px;
  height: 66px;
  bottom: 12px;
  left: -52px;

  background-image: url(../images/scissors-logo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  fill: currentColor; 
}

.site-nav-list {
  display: flex;
}

.site-nav-list a {
  padding: 67px 14px 8px 14px;
  font-weight: 500;
font-size: 25px;
line-height: 1.336;
text-transform: capitalize;
}

.site-nav-list li:not(:last-child) {
  margin-right: 20px;
}

.site-nav-list a:hover,
.site-nav-list a:focus {
    background: var(--link-color); 
    color:  var(--primary-bg-color);
    border-radius: 5px;
  transition: all 0.5s ease-out;
}

.user-menu {
  display: flex;
  align-items: center;
  padding-top: 46px;
}

.user-menu li:not(:last-child) {
  margin-right: 72px;
}

.button-list {
  width: 44px; height: 44px;  /* */
}

.button-link {
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color:  transparent;
}

.button {
  font-family: inherit; /*кнопка унаследует свойства*/
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 41px;
  padding-left: 41px;
  border-radius: 20px;  
  border: 0;
  background: var(--accent-color);
  color: var(--primary-bg-color);

  font-weight: 700;
font-size: 20px;
line-height: 1.5;
}

/*========== Анимация ==========*/
/* .primery-button {
  animation: animate125 3000ms infinite 1000ms;
  transform: scale(1.15); }

 @keyframes animate125 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
 }
 @keyframes animate126 {
  0% {
    transform: rotate(0deg);
  }

  12.5% {
    transform: rotate(-45deg);
  }

  25% {
    transform: rotate(-90deg);
  }

  37.5% {
    transform: rotate(-135deg);
  }

  50% {
    transform: rotate(-180deg);
  }
  62.5% {
    transform: rotate(-225deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  87.5% {
    transform: rotate(-315deg);
  }
  100% {
    transform: rotate(-360deg);
  }
} */

@keyframes animatelogo {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* .button-link {
  animation: animate126 3000ms infinite 1000ms;
} */

.logo::before {
  animation: animatelogo 3000ms infinite 250ms;
}

/*========== end Анимация  ==========*/

/* .primery-button {
  padding-right: 33px;
  padding-left: 33px;
} */

.button:hover,
.button:focus {
  box-shadow: 0 10px 50px var(--accent-color);
  transition: all 0.5s ease-out;
}
 
/*========== END HEADER ==========*/

/*========== HERO ==========*/

.accent {
  color: var(--accent-title-text-color);
}

.hero-section > .container {
  background-image: url(../images/image-1.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  padding-top: 161px;
  padding-bottom: 153px;
  padding-left: 188px;
  padding-right: 1156px;
}

.hero-title {
  margin-bottom: 29px;
font-weight: 700;
font-size: 75px;
line-height: 1.336;
color: var(--title-text-color);
}

.hero-text {
margin-bottom: 97px;
opacity: 0.65;
}

/*========== END HERO ==========*/

/*========== НАША ИСТОРИЯ ==========*/
.section-title {
  margin-bottom: 80px;
  font-weight: 700;
font-size: 70px;
line-height: 1.50;
color: var(--title-text-color);
}

.history-section > .container{
  background: 
  url(../images/top-left.svg) left top,
  url(../images/top-right.svg) right top,
    url(../images/image-2.svg) left center;
background-repeat: no-repeat;
/* background-position-x: 0;
background-position-y: center; */
padding-top: 288px;
  padding-bottom: 334px;
  padding-left: 1199px;
  padding-right: 195px;
  
}

.history li:not(:last-child)
{
  margin-bottom: 48px;
}

.history-text {
  margin-bottom: 108px;
}

/*========== END НАША ИСТОРИЯ ==========*/

/*========== УСЛУГИ ==========*/
.services-section > .container{
background: 
url(../images/bottom-left.svg) left bottom,
  url(../images/bottom-right.svg) right bottom;
  background-repeat: no-repeat;

  padding-top: 136px; /* padding-top: 288px; */
padding-left: 249px;
padding-right: 254px;
padding-bottom: 136px;
}

.services-section .section-title {
  margin: 0 auto 83px;
  text-align: center;
}

.service-icon {
display: flex;
justify-content: space-between;
}

.icon-item {  
   width: 441px;
   padding: 50px 41px 72px;
  background: #FAFBFF;
box-shadow: 0px 5px 0px #99BAED;
border-radius: 29px;
}

.icon-item:hover {
  background: #99BAED;
  color: #FFFFFF;
  /* box-shadow: 0 5px 0 #99BAED; */  
}

.icon-item:hover .title-services,
.icon-item:hover .servise-text {
  color: #FFFFFF;
  opacity: 1;
}

.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 126px;
  background: #E5ECFE;
box-shadow: 0px 1px 0px #008FDD;
border-radius: 13px;
margin: 0 auto;
}

.title-services {
  margin: 60px auto;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.166;
  text-align: center;   
  color: var(--title-text-color);
}

.servise-text {
  opacity: 0.65;
}


/*========== END УСЛУГИ ==========*/


.gallery-section .section-title {
  margin: 0 auto 110px;
  text-align: center;   
}

.gallery-section-list {
  display: flex;
  flex-wrap: wrap;  
  margin-left: calc(-1 * 37px);
  margin-bottom: calc(-1 * 37px);

}
.gallery-list {  
  flex-basis: calc(100% / 3 - 37px);  
  margin-left: 37px;
  margin-bottom: 37px;
  width: 435px;
  height: 435px;
}
